.header {
    display: flex;
    background-color: darkblue;
}

.header-title {
    font-family: 'Courier New';
    font-style: italic;
    font-weight: lighter;
    color: white;
    text-shadow: black;
    font-size: 12px;
}

.header-dark {
    margin-left: auto;
    border: none;
    box-shadow: inset;
    cursor: pointer;

}