@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    display: flex;
    background-color: darkblue;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.header-title {
    font-family: 'Courier New';
    font-style: italic;
    font-weight: lighter;
    color: white;
    font-size: 12px;
    padding-right: 24px;
}

.header-music {
    font-family: 'Courier New';
    color: white;
    border: thin solid  gray;
    box-shadow: inset;
    background-color: black;
}

.header-dark {
    margin-left: auto;
    border: none;
    box-shadow: inset;
    cursor: pointer;

}